<div class="container mt-5">
    <div class="card shadow-sm rounded col-md-6 offset-md-3">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Edit Customer</h4>
        </div>
        <div class="card-body">
            <div *ngIf="editCustomerSuccessMessage || errorMessage" class="alert"
                [ngClass]="{'alert-success': editCustomerSuccessMessage, 'alert-danger': errorMessage}">
                <div>{{ editCustomerSuccessMessage || errorMessage }}</div>
            </div>

            <div *ngIf="editCustomerFormGroup">
                <form [formGroup]="editCustomerFormGroup" (ngSubmit)="handleEditCustomerSubmit()">
                    <div class="form-group mb-3">
                        <label for="id" class="form-label">Customer ID:</label>
                        <input type="text" class="form-control" id="id" formControlName="id" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" formControlName="name"
                            placeholder="Enter customer name">
                        <span *ngIf="editCustomerFormGroup.controls['name'].touched 
                            && editCustomerFormGroup.controls['name'].errors 
                            && editCustomerFormGroup.controls['name'].errors?.['required']" class="text-danger">
                            Name is required
                        </span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" formControlName="email"
                            placeholder="Enter customer email">
                        <span *ngIf="editCustomerFormGroup.controls['email'].touched 
                            && editCustomerFormGroup.controls['email'].errors 
                            && editCustomerFormGroup.controls['email'].errors?.['required']" class="text-danger">
                            Email is not valid
                        </span>
                    </div>
                    <div class="d-grid">
                        <button [disabled]="!editCustomerFormGroup.valid" type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>