<div style="width: 100%;" class="d-flex align-items-center justify-content-center min-vh-100 w-100 bg-light">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%; border-radius: 10px;">
        <div class="card-header text-center bg-primary text-white"
            style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input id="email" type="text" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        <input id="password" type="password" class="form-control" formControlName="password">
                    </div>
                </div>
                <button class="btn btn-primary w-100 mb-2">Login</button>
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-link p-0" (click)="navigateToRegister()">
                        Not registered? Sign up
                    </button>
                    <button type="button" class="btn btn-link p-0" (click)="navigateToChangePassword()">
                        change password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>